<!DOCTYPE html>
<!--
    Phantom by HTML5 UP
    html5up.net | @ajlkn
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="en">

<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/assets/css/highlight.css" rel="stylesheet">
    <!--[if lte IE 8]><script src="/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="/assets/css/ie8.css" /><![endif]-->
    <link href="/assets/css/override.css" rel="stylesheet" />

    <meta name="description" content="{{description}}" />
    <link type="application/rss+xml" rel="alternate" title="{{title}}" href="/feed.rss" />
    <link type="application/atom+xml" rel="alternate" title="{{title}}" href="/feed.atom" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <meta name="application-name" content="{{title}}" />
    <meta name="msapplication-tooltip" content="{{title}}" />
    <meta name="msapplication-starturl" content="/" />

    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://martinbjorkstrom.com/" />
    <!-- TODO: More social graph meta tags -->

    <script src="/assets/js/highlight.pack.js"></script>
</head>

<body>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="inner">

                <!-- Logo -->
                <a href="/" class="logo">
                    <span class="title">{{title}}</span>
                </a>

                <!-- Nav -->
                <nav>
                    <ul>
                        <li><a href="#menu">Menu</a></li>
                    </ul>
                </nav>

            </div>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="/posts">Archive</a></li>
                <li><a href="/tags">Tags</a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <header>
                    <h1>Driving Digital Transformation on Serverless Containers...</h1>
                    <p>Hello, my name is Martin Bj&#xF6;rkstr&#xF6;m. This is my blog, where my intentions is to write
                        about the results of my software related tinkering. I am a father of three, fianc&#xE9; of one,
                        and a Open Source contributor.</p>
                </header>

                <div id="content">
                    <div class="row">
                        <div class="8u 12u$(medium)">
                            <div>
                                <a href="/posts/2020-02-12-testing-protected-azure-functions">
                                    <h2>Testing protected Azure Functions running in a container on your local machine
                                    </h2>
                                </a>
                                <p>Posted on Wednesday, 12 February 2020</p>
                                <p>Recently I had to create an Azure Function using a custom container. The reason was a
                                    client of mine did some really cool things using Puppeteer, and now they wanted to
                                    run this in an Azure Function. So, I went to <a
                                        href="https://docs.microsoft.com">docs.microsoft.com</a> and found a great <a
                                        href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=portal%2Cbash&amp;pivots=programming-language-csharp">tutorial</a>
                                    on how to create a function on Linux using a custom container. However, a little bit
                                    into the tutorial, in the <a
                                        href="https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image?tabs=portal%2Cbash&amp;pivots=programming-language-csharp">build
                                        the container image and test locally</a> section, I noticed something very
                                    annoying, namely this:</p>
                            </div>
                            <div>
                                <a href="/posts/2018-11-29-creating-a-language-server">
                                    <h2>Creating a language server using .NET</h2>
                                </a>
                                <p>Posted on Thursday, 29 November 2018</p>
                                <p>A Language Server is meant to provide the language-specific smarts and communicate
                                    with development tools over a protocol that enables inter-process communication.</p>
                            </div>
                            <div>
                                <a href="/posts/2018-10-15-dissecting-sf-mesh-vs-publish">
                                    <h2>Dissecting the Azure Service Fabric Mesh Right-Click Publish</h2>
                                </a>
                                <p>Posted on Monday, 15 October 2018</p>
                                <p>This is not a post on why you should not do right-click publish, but rather a post on
                                    how to avoid it when working with Azure Service Fabric Mesh. If you want an answer
                                    for the why part, please read <a
                                        href="https://damianbrady.com.au/2018/02/01/friends-dont-let-friends-right-click-publish/">Damian
                                        Brady's blog post</a> on the subject.</p>
                            </div>
                            <ul class="pager">
                                <li class="previous">
                                </li>
                                <li class="next">
                                </li>
                            </ul>
                        </div>
                        <div class="4u 12u$(medium)">

                            <h5>Tags</h5>
                            <ul class="actions small">
                                <li><a role="button" href="/tags/net" class="button small">.NET (5)</a></li>
                                <li><a role="button" href="/tags/open-source" class="button small">Open Source (4)</a>
                                </li>
                                <li><a role="button" href="/tags/azure" class="button small">Azure (3)</a></li>
                                <li><a role="button" href="/tags/introduction" class="button small">Introduction (1)</a>
                                </li>
                                <li><a role="button" href="/tags/service-fabric" class="button small">Service Fabric
                                        (1)</a></li>
                                <li><a role="button" href="/tags/azure-functions" class="button small">Azure Functions
                                        (1)</a></li>
                                <li><a role="button" href="/tags/cognitive-services" class="button small">Cognitive
                                        Services (1)</a></li>
                                <li><a role="button" href="/tags/nuget" class="button small">NuGet (1)</a></li>
                                <li><a role="button" href="/tags/lsp" class="button small">LSP (1)</a></li>
                            </ul>
                            <ul class="actions small">
                                <li><a href="/tags" class="button small">View All Tags &rarr;</a></li>
                            </ul>

                            <h5>Older Posts</h5>
                            <ul>
                                <li><a href="/posts/2018-10-09-open-sourcing-alpha-beta">Open Sourcing Alpha-Beta</a>
                                </li>
                                <li><a href="/posts/2018-09-19-revisiting-nuget-client-libraries">Revisiting the NuGet
                                        v3 Libraries</a></li>
                                <li><a href="/posts/2018-08-06-announcing-dotnet-depends">Announcing dotnet depends</a>
                                </li>
                                <li><a href="/posts/2018-07-05-hello-world">Hello World</a></li>
                            </ul>
                            <ul class="actions small">
                                <li><a href="/posts" class="button small">Archive &rarr;</a></li>
                            </ul>

                            <hr />
                            <h5>On The Interwebs</h5>
                            <ul class="list-unstyled">
                                <li><a href="https://twitter.com/mholo65"><i class="fa fa-twitter"></i> Twitter
                                        (mholo65)</a></li>
                                <li><a href="https://github.com/mholo65"><i class="fa fa-github"></i> GitHub
                                        (mholo65)</a></li>
                                <li><a href="https://keybase.io/mholo65"><i class="fa fa-key"></i> Keybase (mholo65)</a>
                                </li>
                                <li><a href="https://stackoverflow.com/users/6287173/mholo65"><i
                                            class="fa fa-stack-overflow"></i> Stack Overflow (mholo65)</a></li>
                                <li><a href="https://www.linkedin.com/in/martin-bjorkstrom"><i
                                            class="fa fa-linkedin"></i> LinkedIn</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Feeds</h2>
                    <ul class="actions small vertical">
                        <li><a href="/feed.rss" class="button small"><i class="fa fa-rss"></i> RSS Feed</a></li>
                        <li><a href="/feed.atom" class="button small"><i class="fa fa-rss"></i> Atom Feed</a></li>
                    </ul>
                </section>
                <section>
                </section>
                <ul class="copyright">
                    <li>Copyright © 2020</li>
                    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                    <li><a href="https://statiq.dev/">Generated by Statiq</a></li>
                </ul>
            </div>

        </footer>

    </div>

    <script type="text/javascript">
        // Google Analytics
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-121782933-1', 'auto');
        ga('send', 'pageview');
    </script>

    <!-- Scripts -->
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

</body>

</html>